.line-clamp-2[data-v-0de34780]{-webkit-line-clamp:2}.line-clamp-2[data-v-0de34780],.line-clamp-3[data-v-0de34780]{display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden}.line-clamp-3[data-v-0de34780]{-webkit-line-clamp:3}
